In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# school_data
# student_data

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
studentCount = school_data_complete_df["student_name"].count()
schoolsList = school_data_complete_df["school_name"].unique()
schoolCount = int(len(schoolsList))
readAvg = school_data_complete_df["reading_score"].mean()
mathAvg = school_data_complete_df["math_score"].mean()
mathPassing = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
readPassing = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]
overallPassing = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]


totalBudget = school_data["budget"].sum()
mathPercent = len(mathPassing)/studentCount
readPercent = len(readPassing)/studentCount
overallPercent = len(overallPassing)/studentCount
# mathPercent
# readPercent
# overallPercent

districtSummary_df = pd.DataFrame({"Total Schools": [schoolCount],
                                   "Total Students":[studentCount],
                                   "Total Budget": totalBudget,
                                   "Average Math Score": [mathAvg], 
                                   "Average Reading Score": [readAvg], 
                                   "% Passing Math": mathPercent,
                                   "% Passing Reading":readPercent, 
                                   "% Overall Passing":overallPercent})
districtSummary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [3]:
reduced_school_data = school_data[["school_name","type","size","budget"]]
schoolGroup_df = reduced_school_data.set_index("school_name").sort_values("school_name",ascending = True)
studentBudget = schoolGroup_df["budget"]/schoolGroup_df["size"]
schoolGroup_df["Per Student Budget"] = studentBudget

schoolGroup_df

                           type  size   budget  Per Student Budget
school_name
Bailey High School     District  4976  3124928               628.0
Cabrera High School     Charter  1858  1081356               582.0
Figueroa High School   District  2949  1884411               639.0
Ford High School       District  2739  1763916               644.0
Griffin High School     Charter  1468   917500               625.0
Hernandez High School  District  4635  3022020               652.0
Holden High School      Charter   427   248087               581.0
Huang High School      District  2917  1910635               655.0
Johnson High School    District  4761  3094650               650.0
Pena High School        Charter   962   585858               609.0
Rodriguez High School  District  3999  2547363               637.0
Shelton High School     Charter  1761  1056600               600.0
Thomas High School      Charter  1635  1043130               638.0
Wilson High School      Charter  2283  1319574               578.0
Wright High School      Charter  1800  1049400               583.0

In [4]:
#Average columns for math and reading scores
reduced_student_data = student_data[["school_name", "math_score", "reading_score"]]
scoreGroup_df = reduced_student_data.groupby("school_name").mean()
scoreGroup_df

#Percentages columns for math, reading and overall
##Find passing students
mathSchoolPassing = reduced_student_data.loc[reduced_student_data["math_score"] >= 70]
readSchoolPassing = reduced_student_data.loc[reduced_student_data["reading_score"] >= 70]
overallSchoolPassing = reduced_student_data.loc[(reduced_student_data["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

## Calculating Passing DFs 
mathCounts = mathSchoolPassing.groupby("school_name").count()
mathSchoolPercent = mathCounts["math_score"]/schoolGroup_df["size"]

readingCounts = readSchoolPassing.groupby("school_name").count()
readSchoolPercent = readingCounts["reading_score"]/schoolGroup_df["size"]

allCounts = overallSchoolPassing.groupby("school_name").count()
overallSchoolPercent = allCounts["reading_score"]/schoolGroup_df["size"]

passPercentages_df = pd.DataFrame({"% Passing Math": mathSchoolPercent,
                                   "% Passing Reading":readSchoolPercent,
                                   "% Overall Passing": overallSchoolPercent,
                                  })
passPercentages_df

partialSummary_df = pd.merge(schoolGroup_df,scoreGroup_df, on="school_name")
partialSummary_df

schoolSummary_df = pd.merge(partialSummary_df,passPercentages_df, on="school_name")
schoolSummary_df

renamed_schoolSummary_df = schoolSummary_df.rename(columns={"type":"School Type", 
                                                            "size":"Total Students",
                                                            "budget":"Total School Budget",
                                                            "math_score":"Average Math Score",
                                                            "reading_score":"Average Reading Score"
                                                           })
renamed_schoolSummary_df
# test

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

In [5]:
top_renamed_schoolSummary_df = renamed_schoolSummary_df.sort_values("% Overall Passing", ascending=False)
top_renamed_schoolSummary_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

In [6]:
top_renamed_schoolSummary_df = renamed_schoolSummary_df.sort_values("% Overall Passing", ascending=False)
top_renamed_schoolSummary_df.tail(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882

In [7]:
student_data.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80

In [21]:
gradeNine = {}
gradeTen = {}
gradeEleven = {}
gradeTwelve = {}

schoolsNine = []
mathScoreNine = []
readScoreNine = []
schoolsTen = []
mathScoreTen = []
readScoreTen = []
schoolsEleven = []
mathScoreEleven = []
readScoreEleven = []
schoolsTwelve = []
mathScoreTwelve = []
readScoreTwelve = []

#Separate scores by school and grade
for i in range(studentCount) :
    if student_data["grade"][i] == "9th":
        schoolsNine.append(student_data["school_name"][i])
        readScoreNine.append(student_data["reading_score"][i])
        mathScoreNine.append(student_data["math_score"][i])
        gradeNine = {"School Name": schoolsNine,
                    "Reading Score": readScoreNine,
                    "Math Score": mathScoreNine
                   } 
    elif student_data["grade"][i] == "10th":
        schoolsTen.append(student_data["school_name"][i])
        readScoreTen.append(student_data["reading_score"][i])
        mathScoreTen.append(student_data["math_score"][i])
        gradeTen = {"School Name": schoolsTen,
                    "Reading Score": readScoreTen,
                    "Math Score": mathScoreTen
                   }
    elif student_data["grade"][i] == "11th":
        schoolsEleven.append(student_data["school_name"][i])
        readScoreEleven.append(student_data["reading_score"][i])
        mathScoreEleven.append(student_data["math_score"][i])
        gradeEleven = {"School Name": schoolsEleven,
                    "Reading Score": readScoreEleven,
                    "Math Score": mathScoreEleven
                   }
    else: 
        schoolsTwelve.append(student_data["school_name"][i])
        readScoreTwelve.append(student_data["reading_score"][i])
        mathScoreTwelve.append(student_data["math_score"][i])
        gradeTwelve = {"School Name": schoolsTwelve,
                    "Reading Score": readScoreTwelve,
                    "Math Score": mathScoreTwelve
                   }
# Create grade dataframes and merge them all together
GN_df = pd.DataFrame(gradeNine)
renamed_GN_df = GN_df.rename(columns={"Reading Score":"9th R",
                                      "Math Score":"9th M"})
gradeNineGroup_df = renamed_GN_df.groupby("School Name").mean()

GT_df = pd.DataFrame(gradeTen)
renamed_GT_df = GT_df.rename(columns={"Reading Score":"10th R",
                                      "Math Score":"10th M"})
gradeTenGroup_df = renamed_GT_df.groupby("School Name").mean()

GE_df = pd.DataFrame(gradeEleven)
renamed_GE_df = GE_df.rename(columns={"Reading Score":"11th R",
                                      "Math Score":"11th M"})
gradeElevenGroup_df = renamed_GE_df.groupby("School Name").mean()

GTw_df = pd.DataFrame(gradeTwelve)
renamed_GTw_df = GTw_df.rename(columns={"Reading Score":"12th R",
                                      "Math Score":"12th M"})
gradeTwelveGroup_df = renamed_GTw_df.groupby("School Name").mean()

partialScores1_df = pd.merge(gradeNineGroup_df,gradeTenGroup_df, on="School Name")
partialScores2_df = pd.merge(partialScores1_df,gradeElevenGroup_df, on="School Name")
partialScoresF_df = pd.merge(partialScores2_df,gradeTwelveGroup_df, on="School Name")
partialScoresF_df

,9th R,9th M,10th R,10th M,11th R,11th M,12th R,12th M
School Name,,,,,,,,
Bailey High School,81.303155,77.083676,80.907183,76.996772,80.945643,77.515588,80.912451,76.492218
Cabrera High School,83.676136,83.094697,84.253219,83.154506,83.788382,82.765560,84.287958,83.277487
Figueroa High School,81.198598,76.403037,81.408912,76.539974,80.640339,76.884344,81.384863,77.151369
Ford High School,80.632653,77.361345,81.262712,77.672316,80.403642,76.918058,80.662338,76.179963
Griffin High School,83.369193,82.044010,83.706897,84.229064,84.288089,83.842105,84.013699,83.356164
Hernandez High School,80.866860,77.438495,80.660147,77.337408,81.396140,77.136029,80.857143,77.186567
Holden High School,83.677165,83.787402,83.324561,83.429825,83.815534,85.000000,84.698795,82.855422
Huang High School,81.290284,77.027251,81.512386,75.908735,81.417476,76.446602,80.305983,77.225641
Johnson High School,81.260714,77.187857,80.773431,76.691117,80.616027,77.491653,81.227564,76.863248
Pena High School,83.807273,83.625455,83.612000,83.372000,84.335938,84.328125,84.591160,84.121547
Rodriguez High School,80.993127,76.859966,80.629808,76.612500,80.864811,76.395626,80.376426,77.690748
Shelton High School,84.122642,83.420755,83.441964,82.917411,84.373786,83.383495,82.781671,83.778976
Thomas High School,83.728850,83.590022,84.254157,83.087886,83.585542,83.498795,83.831361,83.497041
Wilson High School,83.939778,83.085578,84.021452,83.724422,83.764608,83.195326,84.317673,83.035794
Wright High School,83.833333,83.264706,83.812757,84.010288,84.156322,83.836782,84.073171,83.644986

In [9]:
# mathScores_df = scoreGroup_df.copy()
# mathScores_df.index.name = ""
# mathScores_df